@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for responsive design */

/* General Styles */
body {
  background-color: #f4f1eb; /* Light beige background */
  font-family: 'Arial', sans-serif; /* Standard sans-serif font */
  font-size: 1rem; /* Base font size for scaling */
}

.logo {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 10%; /* Responsive logo size */
  cursor: pointer;
}
